*.swp
.classpath
.project
.settings/
packaging/*.changes
packaging/*.deb
packaging/*.exe
packaging/*upload
packaging/gds2-cmissh/cmissh
packaging/noarch
run.sh
scripts/cmissh
scripts/cmissh.bat
target/
